<% provide(:title, 'Liz y Gerardo') %>
<% provide(:body_class, 'children') if @party.has_children? %>

<section id="nav-wrapper">
  <div class="row">
    <div class="column-container">
      <span class="logo">Liz + Gerardo</span>
      <nav id="nav">
        <ul>
          <li><a class="section-link" href="#our-venue">Venue</a></li>
          <li><a class="section-link" href="#our-timeline">Timeline</a></li>
          <li><a class="section-link" href="#rsvp">RSVP</a></li>
          <li><a class="section-link" href="#wedding-party">Wedding Party</a></li>
          <li><a class="section-link" href="#photos">Photos</a></li>
          <li><a class="section-link" href="#our-registry">Registry</a></li>
          <li><a class="section-link" href="#lodging">Lodging</a></li>
          <li><a class="section-link" href="#our-vendors">Vendors</a></li>
          <li><a class="section-link" href="#contact-us">Contact</a></li>

          <li><%= link_to('Logout', destroy_party_session_path, :method => :delete) %></li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<header>
  <div class="row">
    <div class="column-container">
      <%= image_tag 'bg_header_text.png', id: "liz-y-gerardo-text", alt: "Liz y Gerardo are getting married! Y estan invitados! Aug. 10th, 2013, 4:00pm sharp, Redmond, OR. Join us to share our love and happiness as we finally get married!" %>
    </div>
  </div>
</header>

<div id="venue-rsvp-timeline-container">
  <div class="row">
    <div class="inner-wrapper">
      <div id="venue-rsvp-container">
        <section id="venue-container" class="column-container">
          <article id="our-venue">
            <h2>Our Venue</h2>
            <hr />
            <p class="intro">The ceremony will take place at the <strong>Eagle Crest Resort</strong> in <strong>Redmond, Oregon</strong>. This will be followed by the reception at the <strong>River Run Event Center</strong> located on the Eagle Crest Resort grounds. Eagle Crest Resort displays a lush golf course and grounds with wonderful views of the lovely mountains and scenery that describe central Oregon. The River Run Event Center has a wonderful tiered deck that gives us a breath-taking view overlooking the Deschutes River.</p>
            <hr />
            <figure>
              <span><%= image_tag 'eagle_crest.jpg' %></span>
              <figcaption>
                <h3>Ceremony Location:</h3>
                <h4>
                  <a href="http://maps.apple.com/maps?daddr=1522+Cline+Falls+Road+Redmond+OR+97756" target="_blank">Eagle Crest Resort</a>
                </h4>
                <address>
                  <a href="http://maps.apple.com/maps?daddr=1522+Cline+Falls+Road+Redmond+OR+97756" target="_blank">
                    <span>1522 Cline Falls Road</span>
                    <span>Redmond, OR 97755</span>
                  </a>
                </address>
              </figcaption>
            </figure>

            <hr class="related">

            <figure>
              <span><%= image_tag 'RiverRunEventCenter.jpg' %></span>
              <figcaption>
                <h3>Reception Location:</h3>
                <h4>
                  <a href="http://maps.apple.com/maps?daddr=1730+Blue+Heron+Dr+Redmond+OR+97756" target="_blank">River Run Event Center</a>
                </h4>
                <address>
                  <a href="http://maps.apple.com/maps?daddr=1730+Blue+Heron+Dr+Redmond+OR+97756" target="_blank">
                    <span>1730 Blue Heron Dr.</span>
                    <span>Redmond, OR 97756</span>
                  </a>
                </address>
              </figcaption>
            </figure>
          </article>
        </section>

        <section id="rsvp-container" class="column-container">
          <article id="rsvp">
            <h2>RSVP</h2>
            <h3>For the <%= @party.name %> Party</h3>

            <hr />

            <h4 class="status"><strong><%= @party.friendly_status %></strong></h4>

            <% if @party.has_responded? %>

              <% if @party.has_reserved? %>
                <p>You have reserved <strong><%= @party.total_attending %></strong> out of the <strong><%= @party.guests.count %></strong> seats available for your party. We look forward to seeing you at our wedding!</p>
                <p>If you need to update your party, please do so by <strong>July 10<sup>th</sup>, 2013</strong> using the form below. Thank you!</p>
              <% else %>
                <p>You have informed us you will be unable to attend our wedding by <strong>declining</strong>. We are very sorry you will be unable to attend. Thank you for letting us know.</p>
                <p>If circumstances change, please fill out the form below and reserve your seats no later than <strong>July 10<sup>th</sup>, 2013</strong>.</p>
              <% end %>
            <% else %>
              <p>Please fill out the form to let us know who will be attending. Kindly respond by <strong>July 10<sup>th</sup>, 2013</strong> to make sure we have you on the list. *</p>
            <% end %>

            <% if @party.has_reserved? %>
            <dl class="reserved-seats">
              <dt>
                <p><%= @party.total_attending %></p>
              </dt>
              <dd>
                <p>Seats have been reserved for your party</p>
              </dd>
            </dl>
            <% else %>
            <dl class="reserved-seats">
              <dt>
                <p><%= @party.guests.count %></p>
              </dt>
              <dd>
                <p>Seats are available for your party</p>
              </dd>
            </dl>
            <% end %>

            <hr />

            <% if flash[:notice] %>
              <p class="notice"><%= flash[:notice] %></p>
            <% end %>
            <% if flash[:error] %>
              <p class="error"><%= flash[:error] %></p>
            <% end %>

            <%= form_for( @party, :html => { id: "party-guest-form"}, :url => party_update_path, :method => :put, :remote => true) do |f| %>

              <ul class="guest-list">
                <% @guests.each do |guest| %>

                  <%= f.fields_for :guests, guest do |builder| %>

                    <% if guest.attending? %>
                      <%= render "attending_guest", :f => builder, :guest => guest %>
                    <% else %>
                      <%= render "non_attending_guest", :f => builder, :guest => guest %>
                    <% end %>

                  <% end %>
                <% end %>
              </ul>

              <article class="actions-note-container">
                <ul class="actions">
                  <li>
                    <%= f.button "Decline", class: "button decline", name: "response", value: "decline" %>
                  </li>
                  <li>
                    <% if @party.has_reserved? %>
                      <%= f.button "Update", class: "button", name: "response", value: "reserve", type: "submit" %>
                    <% else %> 
                      <%= f.button "Reserve", class: "button", name: "response", value: "reserve", type: "submit" %>
                    <% end %>
                  </li>
                </ul>

                <aside class="note">
                  <p>* As a reminder, our seating is limited, please be accurate. Any guests who have not reserved their seat by <strong>July 10<sup>th</sup>, 2013</strong> will not be allowed to attend. If you have concerns or questions, please <a href="#contact-us" class="section-link">contact us</a> as soon as possible.</p>
                </aside>
              </article>

            <% end %>
          </article>
        </section>
      </div>

      <section id="our-timeline-container" class="column-container">
        <aside id="our-timeline">
          <h2>Our Timeline</h2>

          <ul class="timeline-list">
            <li class="bride">
              <h3>Liz</h3>
              <dl>
                <dt class="born">October 3<sup>rd</sup> <span>1981</span></dt>
                <dd>Born to Maricela &amp; Aurelio</dd>
                
                <dt class="moved-to-oregon">July <span>1992</span></dt>
                <dd>Liz&apos;s family moves to Madras, Oregon</dd>
              </dl>
            </li>
            <li class="groom">
              <h3>Gerardo</h3>
              <dl>
                <dt class="born">December 9<sup>th</sup> <span>1982</span></dt>
                <dd>Born to Juanita &amp; Antonio</dd>
                
                <dt class="moved-to-oregon">August <span>1992</span></dt>
                <dd>Gerardo&apos;s family moves to Hermiston, Oregon</dd>
              </dl>
            </li>
            <li class="bride-and-groom">
              <dl>
                <dt class="cross-paths">January <span>2003</span></dt>
                <dd>Liz &amp; Gerardo set eyes on each other on the dance floor at a UO Salsa class</dd>
                
                <dt class="together">March <span>2003</span></dt>
                <dd>Liz &amp; Gerardo begin dating!! :)</dd>
                
                <dt class="together">June <span>2005 <strong>&amp;</strong> 2006</span></dt>
                <dd>Liz &amp; Gerardo graduate from the University of Oregon</dd>
                
                <dt class="together">May <span>2009</span></dt>
                <dd>Tógo becomes part of the family!</dd>

                <dt class="together">September <span>2010</span></dt>
                <dd>Liz and Gerardo get engaged in beautiful Maui, HI</dd>

                <dt class="the-big-day">August 10<sup>th</sup> <span>2013</span></dt>
                <dd>10 years later&hellip;the big day final arrives.</dd>
              </dl>
            </li>
          </ul>

        </aside>
      </section>
    </div>
  </div>
</div>

<section id="wedding-party-container">
  <div class="row">
    <article id="wedding-party" class="column-container">
      <h2>The Wedding Party</h2>
      <p>A huge &ldquo;Thank You&rdquo; to everyone in our wedding party! You all rock!</p>

      <ul class="bridesmaids party">
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/bridesmaids/laura_ramos_neville.jpg' %></dt>
            <dd>
              <h3>Laura Ramos-Neville</h3>
              <h4>Matron of Honor</h4>
              <!-- <p>Short description of Laura goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/bridesmaids/amanda_montgomery.jpg' %></dt>
            <dd>
              <h3>Amanda Montgomery</h3>
              <h4>Bridesmaid</h4>
              <!-- <p>Short description of Amanda goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/bridesmaids/lucia_meza.jpg' %></dt>
            <dd>
              <h3>Lucía Meza</h3>
              <h4>Bridesmaid</h4>
              <!-- <p>Short description of Lucia goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/bridesmaids/amanda_lopez.jpg' %></dt>
            <dd>
              <h3>Amanda López</h3>
              <h4>Bridesmaid</h4>
              <!-- <p>Short description of Amanda goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/bridesmaids/mindalay_perez.jpg' %></dt>
            <dd>
              <h3>Mindalay Pérez</h3>
              <h4>Bridesmaid</h4>
              <!-- <p>Short description of Minda goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/bridesmaids/clarissa_gamolo.jpg' %></dt>
            <dd>
              <h3>Clarissa Gamolo</h3>
              <h4>Bridesmaid</h4>
              <!-- <p>Short description of Clarissa goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
      </ul>
      
      <ul class="groomsmen party">
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/groomsmen/juan_rodolfo_jimenez.jpg' %></dt>
            <dd>
              <h3>Rodolfo Jiménez</h3>
              <h4>Best Man</h4>
              <!-- <p>Short description of Rodo goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/groomsmen/aaron_bingham.jpg' %></dt>
            <dd>
              <h3>Aaron Bingham</h3>
              <h4>Groomsman</h4>
              <!-- <p>Short description of Aaron goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/groomsmen/emmanuel_garcia.jpg' %></dt>
            <dd>
              <h3>Emmanuel García</h3>
              <h4>Groomsman</h4>
              <!-- <p>Short description of Emmanuel goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/groomsmen/kellan_craddock.jpg' %></dt>
            <dd>
              <h3>Kellan Craddock</h3>
              <h4>Groomsman</h4>
              <!-- <p>Short description of Kellan goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
      </ul>

      <ul class="togo groomsmen party">
        <li>
          <dl>
            <dt><%= image_tag 'wedding_party/groomsmen/togo.jpg' %></dt>
            <dd>
              <h3>Tógo</h3>
              <h4>Best Dog/Ring Bearer</h4>
              <!-- <p>Short description of Togo goes here...</p> -->
              <!-- <p><a href="#">(Read more)</a></p> -->
            </dd>
          </dl>
        </li>
      </ul>
    </article>
  </div>
</section>

<section id="photos-container">
  <div class="row">
    <header>
      <h2>Photos</h2>
    </header>

    <article id="photos" class="column-container">
      <h3>Our Engagement</h3>
      <p class="intro">A <em>huge</em> &ldquo;Thank You&rdquo; to Ryan @ <a href="http://www.fsweddings.com/" target="_blank">FS Photoghapy</a> for an awesome Engagement Session photo shoot! Ryan took us out along the beautiful Columbia River Gorge on the Washington side. The sun came through, and not a rain cloud in sight. We were surrounded with beautiful scenery that definitely represented our love for the outdoors. He’ll be our photographer on our big day as well. Make sure and say &ldquo;Hi&rdquo; to Ryan! :)</p>

      <ul class="engagement-photos photo-gallery">
        <li>
          <a data-gallery="engagement" title="Photograph by Ryan @ FS Photography" href="<%= asset_path 'engagement_shoot/image_01_full.jpg' %>" target="_blank">
            <img src="<%= asset_path 'engagement_shoot/image_01_thumb.jpg' %>" alt="Photograph by Ryan @ FS Photography"/>
          </a>
        </li>
        <li>
          <a data-gallery="engagement" title="Photograph by Ryan @ FS Photography" href="<%= asset_path 'engagement_shoot/image_02_full.jpg' %>" target="_blank">
            <img src="<%= asset_path 'engagement_shoot/image_02_thumb.jpg' %>" alt="Photograph by Ryan @ FS Photography"/>
          </a>
        </li>
        <li>
          <a data-gallery="engagement" title="Photograph by Ryan @ FS Photography" href="<%= asset_path 'engagement_shoot/image_02_full.jpg' %>" target="_blank">
            <img src="<%= asset_path 'engagement_shoot/image_02_thumb.jpg' %>" alt="Photograph by Ryan @ FS Photography"/>
          </a>
        </li>
        <li>
          <a data-gallery="engagement" title="Photograph by Ryan @ FS Photography" href="<%= asset_path 'engagement_shoot/image_01_full.jpg' %>" target="_blank">
            <img src="<%= asset_path 'engagement_shoot/image_01_thumb.jpg' %>" alt="Photograph by Ryan @ FS Photography"/>
          </a>
        </li>
        <li>
          <a data-gallery="engagement" title="Photograph by Ryan @ FS Photography" href="<%= asset_path 'engagement_shoot/image_01_full.jpg' %>" target="_blank">
            <img src="<%= asset_path 'engagement_shoot/image_01_thumb.jpg' %>" alt="Photograph by Ryan @ FS Photography"/>
          </a>
        </li>
        <li>
          <a data-gallery="engagement" title="Photograph by Ryan @ FS Photography" href="<%= asset_path 'engagement_shoot/image_02_full.jpg' %>" target="_blank">
            <img src="<%= asset_path 'engagement_shoot/image_02_thumb.jpg' %>" alt="Photograph by Ryan @ FS Photography"/>
          </a>
        </li>
      </ul>
    </article>

    <article id="your-photos" class="column-container">
      <h3>Your Photos</h3>
      <p>Are you carrying around an iPhone or Android? Help us capture memories of our big day!</p>

      <dl class="photos-app">
        <dt><%= image_tag 'logo_wedding_party_app.png' %></dt>
        <dd>
          <h4>Wedding Party App</h4>
          <p>Download our awesome wedding app! <a href="https://www.weddingpartyapp.com/e/RUaA9Ae" target="_blank">Check out the pictures</a> we’ve taken so far documenting the events leading up to the big day.</p>
        </dd>
      </dl>

      <ol class="photos-app-steps">
        <li>Download our app: <strong>"Wedding Party"</strong> (from the <a href="http://itunes.apple.com/us/app/wedding-party/id494214305" target="_blank">iPhone</a> or <a href="https://play.google.com/store/apps/details?id=com.micromobs.pkk" target="_blank">Android</a> app store)</li>
        <li>Register &amp; enter the wedding name: <strong>&ldquo;lizygerardo&rdquo;</strong></li>
        <li>Have fun, take pictures and share them with us on our app!</li>
      </ol>

      <hr class="related" />

      <dl class="photos-app">
        <dt><%= image_tag 'logo_instagram.png' %></dt>
        <dd>
          <h4>Instagram</h4>
          <p>If you happen to be on Instagram, make sure to use our Wedding Hashtag <strong>&ldquo;#lizygerardo2013&rdquo;</strong> if you snap any awesome photos you’d like to share!</p>
          <p>Please note: Your photos will <strong>not</strong> be displayed if your Instagram account is set to <strong>"Private"</strong>.</p>
        </dd>
      </dl>

      <div id="instagram-photos-container">
        <!-- Instagram Photos Load Here -->
      </div>
    </article>
  </div>
</section>

<section id="other-details-container">
  <div class="row">
    <div class="inner-wrapper">
      <article id="our-registry" class="column-container">
        <div class="inner-wrapper">
          <h2>Our Registry</h2>
          <p>We’ve registered at the following locations. Thanks in advance!</p>

          <ul class="registry-list">
            <li><a href="#"><%= image_tag 'target.jpg', alt: "Target", title: "Target" %></a></li>
            <li><a href="#"><%= image_tag 'wedding_republic.jpg', alt: "Wedding Republic", title: "Wedding Republic" %></a></li>
            <li><a href="#"><%= image_tag 'kohls.jpg', alt: "Kohl's", title: "Kohl's" %></a></li>
          </ul>
        </div>
      </article>

      <article id="lodging" class="column-container">
        <div class="inner-wrapper">
          <h2>Lodging</h2>
          <ul class="lodging-list">
            <li>
              <h3>Eagle Crest Resort</h3>
              <address>
                <a href="http://maps.apple.com/maps?daddr=1522+Cline+Falls+Road+Redmond+OR+97756" target="_blank">
                  <span>1522 Cline Falls Road</span>
                  <span>Redmond, OR 97756</span>
                </a>
                <span>Reservations: (855) 682-4786</span>
                <span>Use group code: <strong>KW82-THIS-IS-FAKE</strong></span>
              </address>
            </li>
            <li>
              <h3>Eagle Crest Resort</h3>
              <address>
                <span>1522 Cline Falls Road</span>
                <span>Redmond, OR 97756</span>
                <span>Reservations: (855) 682-4786</span>
                <span>Use group code: <strong>KW82-THIS-IS-FAKE</strong></span>
              </address>
            </li>
            <li>
              <h3>Eagle Crest Resort</h3>
              <address>
                <span>1522 Cline Falls Road</span>
                <span>Redmond, OR 97756</span>
                <span>Reservations: (855) 682-4786</span>
                <span>Use group code: <strong>KW82-THIS-IS-FAKE</strong></span>
              </address>
            </li>
          </ul>
        </div>
      </article>

      <article id="our-vendors" class="column-container">
        <div class="inner-wrapper">
          <h2>Our Vendors</h2>
          <p>A big thanks to our vendors!</p>

          <ul class="vendor-list">
            <li>
              <a href="#">Mayahuel Catering</a>
              <span>Portland, OR</span>
            </li>
            <li>
              <a href="http://www.fsweddings.com/" target="_blank">FS Photography</a>
              <span>Portland, OR</span>
            </li>
            <li>
              <a href="#">DJ Max</a>
              <span>Portland, OR</span>
            </li>
            <li>
              <a href="#">Illuminate Your Night</a>
              <span>Bend, OR</span>
            </li>
            <li>
              <a href="#">Ceylon Blu</a>
              <span>Bend, OR</span>
            </li>
            <li>
              <a href="http://pinkskyflowers.com" target="_blank">Pink Sky Flowers</a>
              <span>Redmond, OR</span>
            </li>
          </ul>
        </div>
      </article>

      <article id="contact-us" class="column-container">
        <div class="inner-wrapper">
          <h2>Contact Us</h2>
          <hr />
          <p>If you have any questions or concerns, please feel free to contact us. Thank you for taking the time to reach out to us. :)</p>
          <hr />
          <a class="button" href="#">Send us an <span>email</span></a>
        </div>
      </article>
    </div>
  </div>
</section>

<footer>
  <div class="row">
    <div class="column-container">
      <p>Designed with love by <strong>Kellan</strong> &amp; <strong>Jessica</strong></p>
      <p class="copyright">&copy;2013, all rights reserved.</p>
    </div>
  </div>
</footer>

<!-- <a id="back-to-top" class="button back" href="#nav-wrapper">Back to Top</a> -->

<%= render "children_warning" %>

<%= render "instagram_template" %>