<% provide(:title, 'Liz y Gerardo') %>
<% provide(:body_class, 'sessions') %>


<header class="row">
  <div class="column-container">
    <%= image_tag 'bg_header_landing.png', alt: "Liz y Gerardo" %>
  </div>
</header>

<section class="authentication">
  <div class="row">
    <article id="login" class="column-container">
      <p>Please sign in with the username and password enclosed with your invitation.</p>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= render "devise/shared/notices_alerts" %>

        <%= f.label :username, "Username:" %>
        <%= f.text_field :username, placeholder: "Enter your username" %>

        <%= f.label :password, "Password:" %>
        <%= f.password_field :password, placeholder: "Enter your password" %>

        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <% end -%>

        <%= f.submit "Sign in", class: "button" %>
      <% end %>

      <!-- <%= render "devise/shared/links" %> -->

    </article>
  </div>
</section>