<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">


    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Rokkitt:400,700|Nixie+One|Oleo+Script+Swash+Caps|Quicksand:300,400,700" %>

    <%= javascript_include_tag "vendor/custom.modernizr" %>
    
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= yield(:body_class) %>">
    <% if Rails.env.development? || Rails.env.staging? %>
<!--     <section class="warning">
      <p>You are currently viewing our <span><%= Rails.env %></span> environment.</p>
      <p>Please <strong>DO NOT</strong> share this url with <em>anyone</em> or you will be subject to mind-bending repercussions. You have been warned.</p>
      <p>If you have reached this web page due to error, close the browser immediately as we are tracking all visits and will take all actions necessary to find you.</p>
    </section> -->
    <% end %>

    <%= yield %>

    
    <%= javascript_include_tag "application" %>

    <%= render 'shared/google_analytics' if Rails.env.production? %>
  </body>
</html>
